[submodule "Wismut/vendor/spdlog"]
	path = Wismut/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wismut/vendor/ImGui"]
	path = Wismut/vendor/ImGui
	url = https://github.com/goldsphere48/ImGui
[submodule "Wismut/vendor/GLFW"]
	path = Wismut/vendor/GLFW
	url = https://github.com/goldsphere48/glfw
[submodule "Wismut/vendor/glm"]
	path = Wismut/vendor/glm
	url = https://github.com/g-truc/glm
